In [1]:
import pandas as pd
var = pd.read_csv("C:\\Users\\Admin\\OneDrive\\Desktop\\python & lybrary\\Book1.csv")
var

,SR.NO.,Registration No.,Name,Mobile No.,Email,Allotment Date,Unit Type,Unit No.
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,PD000721,Mrs. Mitali Singh Thakur,9871566652,mitali2999@gmail.com,12/4/2019,SHOP(411 Sq Ft),SHOP-1
2,3.0,NaN,Mrs. Kavita Saini,9836554059,NaN,18/04/2019,SHOP(280 Sq Ft),SHOP-10
3,4.0,PD000727,NaN,9958588896,ranjeevkrsingh@gmail.com,3/4/2019,SHOP(280 Sq Ft),SHOP-11
4,5.0,PD000704,Mr. Ranjeev Kumar Singh,9818659280/ 9466903010,viki0009@gmail.com,15/04/2019,SHOP(280 Sq Ft),SHOP-12
5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,PD000714,Mrs. Seema,8860606818,rawat.contract@gmail.com,8/4/2019,SHOP(280 Sq Ft),SHOP-12A
7,8.0,PD000712,Mr. Sandeep Rawat,9540431474,NaN,3/4/2019,SHOP(280 Sq Ft),SHOP-14
8,9.0,PD000706,Mr. Somvir,NaN,NaN,10/4/2019,SHOP(412 Sq Ft),SHOP-2
9,10.0,PD000717,Mr. Pawan Kakar,9810723221,ankush_juneja@yahoo.com,3/6/2019,SHOP(412 Sq Ft),SHOP-3
10,11.0,PD000734,Mrs. Kanta Juneja,9811010372,pritpal.singh63@yahoo.in,NaN,SHOP(412 Sq Ft),SHOP-4
11,NaN,NaN,Mr. Pritpal Singh,9990086969,neerajduggal07@gmail.com,11/3/2019,SHOP(412 Sq Ft),SHOP-5

In [5]:
var.interpolate(method="linear")

C:\Users\Admin\AppData\Local\Temp\ipykernel_22288\906631510.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear")

,SR.NO.,Registration No.,Name,Mobile No.,Email,Allotment Date,Unit Type,Unit No.
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,PD000721,Mrs. Mitali Singh Thakur,9871566652,mitali2999@gmail.com,12/4/2019,SHOP(411 Sq Ft),SHOP-1
2,3.0,NaN,Mrs. Kavita Saini,9836554059,NaN,18/04/2019,SHOP(280 Sq Ft),SHOP-10
3,4.0,PD000727,NaN,9958588896,ranjeevkrsingh@gmail.com,3/4/2019,SHOP(280 Sq Ft),SHOP-11
4,5.0,PD000704,Mr. Ranjeev Kumar Singh,9818659280/ 9466903010,viki0009@gmail.com,15/04/2019,SHOP(280 Sq Ft),SHOP-12
5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,PD000714,Mrs. Seema,8860606818,rawat.contract@gmail.com,8/4/2019,SHOP(280 Sq Ft),SHOP-12A
7,8.0,PD000712,Mr. Sandeep Rawat,9540431474,NaN,3/4/2019,SHOP(280 Sq Ft),SHOP-14
8,9.0,PD000706,Mr. Somvir,NaN,NaN,10/4/2019,SHOP(412 Sq Ft),SHOP-2
9,10.0,PD000717,Mr. Pawan Kakar,9810723221,ankush_juneja@yahoo.com,3/6/2019,SHOP(412 Sq Ft),SHOP-3
10,11.0,PD000734,Mrs. Kanta Juneja,9811010372,pritpal.singh63@yahoo.in,NaN,SHOP(412 Sq Ft),SHOP-4
11,11.0,NaN,Mr. Pritpal Singh,9990086969,neerajduggal07@gmail.com,11/3/2019,SHOP(412 Sq Ft),SHOP-5